body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}
.an{
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.ank{
    padding: 5px;
}
a{
    padding: 5px;
}